.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 130%;
  padding-bottom: 20vh;
}

.headerDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
}

.contactHeader {
  color: var(--deep-steel);
  font-size: 3rem;
}

.contactText {
  max-width: 550px;
}

.contactButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.line {
  height: 2px;
  width: 500px;
  background-color: var(--deep-steel);
}

@media (max-width: 600px) {
  .line {
    display: none;
  }
}

.addressBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
