.portfolioDiv {
  display: flex;
  flex-direction: column;
  padding-bottom: 20vh;
}

.portfolioBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 80vw;
  padding-bottom: 50px;
}

.portfolioHeader {
  color: rgb(61, 123, 255);
  font-size: 3rem;
}

.line {
  height: 2px;
  width: 500px;
  background-color: rgb(61, 123, 255);
  box-shadow: rgb(61, 123, 255) 2px 2px 2px;
}
@media (max-width: 600px) {
  .line {
    display: none;
  }
}
.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}



