.card {
  width: 70vw;
  display: flex;
  align-items: flex-start;
  padding-bottom: 40px;
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  outline: 1px solid var(--outline-grey);
  border-radius: 5px;
  box-shadow: var(--complex-shadow);
}

@media (max-width: 600px) {
  .card {
    align-items: center;
    flex-direction: column;
  }
  .projectHeader {
    flex-direction: column;
    gap: 10px;
  }
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.linkGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.textBlock {
  padding: 10px;
}

.projectTitle {
  font-size: 1.5rem;
  color: var(--deep-steel);
}

.linkIcon {
  width: 20px;
  filter: invert(50%);
  transition: filter var(--transition-time) ease-out;
}

.linkIcon:hover,
.linkIcon:focus {
  filter: invert(100%);
}

.linkSet {
  display: flex;
  align-items: center;
  gap: 8px;
}

.projectImg {
  width: 240px;
  height: 240px;
  object-fit: cover;
  outline: 1px solid var(--outline-grey);
  border-radius: 5px;

}

.projectImg:hover {
  outline: 1px solid var(--saturated-sky);
}

a {
  color: var(--faded-grey);
  font-style: normal;
  position: relative;
  bottom: 0px;
  transition: color var(--transition-time) ease-out;
}

a:hover,
a:focus {
  color: var(--deep-steel);
}
